*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

header{
    margin: 0px 5% 0px 5%;
}

.for-margin{
    width: 100%;
    max-width: 1140px;
    background-color: #01546b;
}

.for-heading{
    display: inline-block;
    /* width: 20%; */
}

.for-navigation{
    overflow: hidden;
    display: inline-block;
    width: 80%;
}

header ul{
    list-style: none;
    /* text-align: right; */
}

header ul li{
    float: left;
}

header ul ul{
    display: none;
}